{:source-paths
 ["src"]

 :dependencies 
 [[cider/cider-nrepl "0.17.0"]
  [refactor-nrepl "2.4.0-SNAPSHOT"] 
  [funcool/promesa "1.9.0"]]

 :nrepl
 {:port 9991}
 ;; :nrepl
 ;; {:middleware
 ;;  [refactor-nrepl.middleware/wrap-refactor]}

 :builds {:bug-test
          {:id :script
           :target :node-script
           :main mattsum.bug-test.core/main
           :output-to "out/bug-test/main.js"}}}
